<form [formGroup]="contractForm" (ngSubmit)="onSubmit()" *ngIf="assurance">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">Détails de l'Assurance</div>
          <div class="card-body">
            <h5>{{ assurance.nom }}</h5>
            <p>{{ assurance.description }}</p>
            <p>Prime: {{ assurance.prime }} €</p>
            <p>Couverture: {{ assurance.montantAssure }} €</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Informations du Contrat</div>
          <div class="card-body">
            <div class="mb-3">
              <label>ID Utilisateur</label>
              <input type="number" class="form-control" formControlName="userId">
            </div>
  
            <div class="row mb-3">
              <div class="col">
                <label>Date Début</label>
                <input type="date" class="form-control" formControlName="dateDebut">
              </div>
              <div class="col">
                <label>Date Fin</label>
                <input type="date" class="form-control" formControlName="dateFin">
              </div>
            </div>
  
            <div class="form-check mb-3">
              <input 
                type="checkbox" 
                class="form-check-input" 
                formControlName="acceptConditions">
              <label class="form-check-label">
                J'accepte les conditions générales
              </label>
            </div>
  
            <button 
              type="submit" 
              class="btn btn-success"
              [disabled]="!contractForm.valid">
              Confirmer la Souscription
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>