<div class="reservation-calendar">
  <label for="reservation-date">Choisissez une date de réservation :</label>

  <!-- Champ de saisie avec datepicker -->
  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker" (dateChange)="onDateSelect($event.value)" placeholder="Choisissez une date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Date sélectionnée -->
  <div *ngIf="selectedDate" class="selected-date">
    <strong>Date sélectionnée :</strong> {{ selectedDate | date: 'dd/MM/yyyy' }}
  </div>
</div>
