<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partenaire of partenaires">
      <td>{{ partenaire.nom }}</td>
      <td>{{ partenaire.email }}</td>
      <td>
        <!-- Modifier le partenaire en appelant la méthode modifierPartenaire -->
        <button class="btn btn-warning" (click)="modifierPartenaire(partenaire.id)">Modifier</button>

        <!-- Supprimer -->
        <button class="btn btn-danger" (click)="deletePartenaire(partenaire.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
