<div class="container">
  <h2>Liste des Partenaires</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partenaire of partenaires">
        <td>{{ partenaire.id }}</td>
        <td>{{ partenaire.nom }}</td>
        <td>{{ partenaire.adresse }}</td>
        <td>
          <button class="btn btn-primary" routerLink="/partenaires/{{ partenaire.id }}/edit">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
